body{
	font-family: Roboto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.top-section {
	display: flex;
	flex-direction: column;
	background-color: #1F2937;
	color: #fff;
	padding: 5px 20%;

}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.header-links ul{
	display: flex;
	list-style: none;
	gap: 20px;
}

.header-links ul a {
	color: #e5e7eb;
	text-decoration: none;
	font-size: 18px;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
	font-weight: 900;
}

.hero-logo{
	font-size: 48px;
	color: #f9faf8;
	font-weight: 900;
}

.website-info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10% 0px;	
}

.website-info .info{
	max-width: 400px;
}

button {
	border: none;
	background-color: #3882f6;
	color: #f9faf8;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 32px;
	font-size: 20px;
	font-weight: 800;
	border-radius: 8px;
	margin: 10px 0px;
}

.welcome-image img {
	width: 500px;
	height: 250px;
}


.body-section{
	display: flex;
	flex-direction: column;
}

.information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.info-title{
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
	margin: 40px 0;
}

.image-slide{
	display: flex;
	gap: 57px;
}


.image-slide div {
	text-align: center;
	max-width: 200px;
}

.image-slide div img{
	width: 200px;
	height: 200px;
	border-radius: 10px;
	margin-bottom: 10px;

}

