body{
	font-family: Roboto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.top-section {
	display: flex;
	flex-direction: column;
	background-color: #1F2937;
	color: #fff;
	padding: 5px 16%;


}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.header-links ul{
	display: flex;
	list-style: none;
	gap: 20px;
}

.header-links ul a {
	color: #e5e7eb;
	text-decoration: none;
	font-size: 18px;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
	font-weight: 900;
}

.hero-logo{
	font-size: 48px;
	color: #f9faf8;
	font-weight: 900;
}

.website-info{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 8% 0%;
}


button {
	border: none;
	background-color: #3882f6;
	color: #f9faf8;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 32px;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	margin: 10px 0px;
}

.welcome-image img {
	width: 550px;
	height: 270px;
}


